/* source: http://bl.ocks.org/sjengle/f6f522f3969752b384cfec5449eacd98 */


d-figure svg {
  background-color: #252525;
  border: 0.5px dotted #626262;
  /* min-width: 500px; */
  min-height: 800px;
  max-height: 1080px;
  /* flex-basis: 100%; */
  width: 100%;
  /* height: 100%; */
}

/* d-figure svg g#plot {
  width: auto;
  height: 700px;
} */

d-figure a {
  color: #3EB5C4;
}

d-figure b {
  font-weight: 900;
}

.node {
  stroke: silver;
  stroke-width: 1px;
}

.link {
  /* fill: none; */
  stroke: silver;
  stroke-opacity: 0.6;
}

.selected {
  stroke: red !important;
  stroke-opacity: 1;
}

/* shadow trick from bl.ocks.org */
#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}
